/* See license.txt for terms of usage */

#my-span,
.test,
.a,
.doc {
  color: green;
}

code {
  font-family: monospace;
  background: rgb(249, 249, 249);
  padding: 1px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.harPreviewFrame {
  border: 1px solid #e1e1d3;
  width: 100%;
}

ul.prefs {
  line-height: 23px;
}

ul.xhrRequests {
  line-height: 30px;
}